<input [(ngModel)]="searchTerm" placeholder="Rechercher une montre" class="search-bar">
<div class="button-container">
  <button (click)="sortByName()">Trier par nom</button>
  <button (click)="sortByDate()">Trier par date</button>
</div>

<div class="card-container">
  <mat-card *ngFor="let watch of (watches | search:searchTerm)" class="watch-card" (click)="showDetails(watch)">
    <mat-card-header>
      <mat-card-title>{{ watch.name }}</mat-card-title>
      <mat-card-subtitle>Prix: {{ watch.price }}€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="watch.image" alt="Image de montre">
    <mat-card-content>
      <p>Disponible depuis le {{ watch.date | date:'fullDate':'':'fr' }}</p>
    </mat-card-content>
    <mat-card-actions class="like-button-container">
      <button mat-icon-button class="like-button" (click)="toggleFavorite(watch)">
        <mat-icon>{{ watch.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
