<app-search (searchEvent)="handleSearchEvent($event)"></app-search>
<button mat-button class="sort-button" (click)="sortByName()">Trier par nom</button>
<button mat-button class="sort-button" (click)="sortByDate()">Trier par date</button>

<div class="card-container">
  <mat-card *ngFor="let watch of filteredWatches" class="watch-card">
    <mat-card-header>
      <mat-card-title>{{ watch.name }}</mat-card-title>
      <mat-card-subtitle>Prix: {{ watch.price }}€</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="watch.image" alt="Image de montre">
    <mat-card-content>
      <p>Disponible depuis le {{ watch.date | date:'fullDate':'':'fr' }}</p>
    </mat-card-content>
    <mat-card-actions class="like-button-container">
      <button mat-icon-button class="like-button" (click)="toggleFavorite(watch)">
        <mat-icon>{{ watch.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
